---
import { Image } from "astro:assets";
import OvalImage from "../../../assets/images/oval.svg";
const {} = Astro.props;
---

<section id="page-advisory-booking-section" class="lg:pt-[99px] lg:pb-[256px] pt-[50px] pb-[100px] flex flex-col gap-[100px] lg:gap-[256px]">
  <div class="lg:max-w-[1260px] mx-auto w-full px-[20px] md:px-0">
    <h1 class="lg:text-[48px] text-[32px] font-[600] text-[#123257] font-primary">
      Express Sessions
    </h1>
    <form class="mt-[58px] flex flex-col gap-[24px]">
      <input
        required
        name="fullName"
        type="text"
        class="p-[24px] bg-[#F6F7F9] border border-[#F6F7F9] w-full text-[#9FA8B1] text-[16px] font-[300]"
        placeholder="Enter full name"
      />
      <input
        required
        name="businessName"
        type="text"
        class="p-[24px] bg-[#F6F7F9] border border-[#F6F7F9] w-full text-[#9FA8B1] text-[16px] font-[300]"
        placeholder="Enter your business name"
      />

      <div class="mt-[36px] flex flex-col">
        <h1 class="lg:text-[24px] text-[18px] pl-[12px] font-[600] text-[#000000] font-primary">
          How long would you need?
        </h1>
        <div class="mt-[24px] flex flex-col gap-[24px] w-full">
          <div class="flex flex-row items-center gap-x-3 bg-[#F6F7F9] p-[24px] w-full">
            <input
              id="30-minutes"
              name="lengthOfCall"
              type="radio"
              class="h-4 w-4 border-gray-300 text-[#4130BA] focus:ring-[#4130BA]"
            />
            <label
              for="30-minutes"
              class="block text-[16px] mt-[2px] font-medium leading-6 text-[#222222]"
              >30 minutes</label
            >
          </div>
          <div class="flex items-center gap-x-3 bg-[#F6F7F9] p-[24px] w-full">
            <input
              id="one-hour"
              name="lengthOfCall"
              type="radio"
              class="h-4 w-4 border-gray-300 text-[#4130BA] focus:ring-[#4130BA]"
            />
            <label
              for="one-hour"
              class="block text-[16px] mt-[2px] font-medium leading-6 text-[#222222]"
              >1 hour</label
            >
          </div>
        </div>

        <button type="submit" class="mt-[36px] rounded-[100px] py-[18px] text-[24px] font-body bg-[#4130BA] text-white">Book a call</button>
      </div>
    </form>
  </div>
  <div class="lg:max-w-[1260px] mx-auto w-full px-[20px] md:px-0">
    <h1 class="lg:text-[48px] text-[32px] font-[600] text-[#123257] font-primary">
      People Leaders Coaching Program
    </h1>
    <h4 class="text-[20px] font-[400] mt-[22px] text-[#123257]">
      Trying to get a new people operations and HR initiative off the ground or need more comprehensive support, consider joining the people leaders coaching program. It’s a 6-week program where we meet weekly to up your people operations game.
    </h4>
    <form class="mt-[74px] flex flex-col gap-[24px]">
      <input
        required
        name="fullName"
        type="text"
        class="p-[24px] bg-[#F6F7F9] border border-[#F6F7F9] w-full text-[#9FA8B1] text-[16px] font-[300]"
        placeholder="Enter full name"
      />
      <input
        required
        name="businessName"
        type="text"
        class="p-[24px] bg-[#F6F7F9] border border-[#F6F7F9] w-full text-[#9FA8B1] text-[16px] font-[300]"
        placeholder="Enter your business name"
      />

      <div class="mt-[36px] flex flex-col md:flex-row w-full gap-[36px]">
        <button type="submit" class="rounded-[100px] w-full py-[12px] md:py-[18px] text-[16px] md:text-[24px] font-body border border-[#4130BA] text-[#4130BA]">Book a 15-minutes discovery call</button>
        <button type="submit" class="rounded-[100px] w-full py-[12px] md:py-[18px] text-[16px] md:text-[24px] font-body bg-[#4130BA] text-white">Book a call</button>
      </div>
    </form>
  </div>
</section>
