---
import { Image } from "astro:assets";
import OvalImage from "../../../assets/images/oval.svg";
const {} = Astro.props;
---

<section id="page-advisory-booking-section">
  <h1>Schedule a session with Us</h1>
  <div>
    <div class="image">
      <Image src={OvalImage} alt={""} />
    </div>
    <div class="text">
      <p>
        Need quick advice and want to talk out a challenge or an idea? Schedule
        an <a target="_blank" href="https://1sh2o0w6yoa.typeform.com/to/OxgLgwY4">Advisory chat for 30 minutes</a> or an <a target="_blank" href="https://1sh2o0w6yoa.typeform.com/to/OxgLgwY4">advisory discussion for 1 hour</a>

        <br />
        <br />
         Trying to get a new people operations and HR initiative off the ground
        or need more comprehensive support, consider joining the people leaders
        coaching program.

        <br />
        <br />
        It’s a 6-week program where we meet weekly to up your people operations game. <a target="_blank" href="https://1sh2o0w6yoa.typeform.com/to/OxgLgwY4">Apply here</a> or book a 15-minute discovery call to find out more.
      </p>

      <a class="cta" target="_blank" href="https://1sh2o0w6yoa.typeform.com/to/OxgLgwY4">Make an appointment</a>
    </div>
  </div>
</section>

<style>
  #page-advisory-booking-section {
    padding-left: 154px;
    padding-right: 182px;
    padding-top: 93px;
    padding-bottom: 155.8px;

    @media screen and (max-width: 450px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  #page-advisory-booking-section > h1 {
    color: #4130ba;
    text-align: center;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #page-advisory-booking-section > div {
    margin-top: 99px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 69px;
    max-width: 1464px;
    width: 100%;
  }

  #page-advisory-booking-section div.image {
    width: 645px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  #page-advisory-booking-section div.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;
  }

  #page-advisory-booking-section div.text p {
    color: #0f1221;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 586px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 450px) {
      /* padding-left: 20px;
      padding-right: 20px; */
    }
  }

  #page-advisory-booking-section div.text p>a {
    text-decoration: underline;
    color: #4130ba;
    cursor: pointer;
  }

  #page-advisory-booking-section div.text a.cta {
    display: flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #4130ba;
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Typo Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    text-decoration: none;
    @media screen and (max-width: 450px) {
      font-size: 16px;
    }
  }
</style>
