---
import { Image } from "astro:assets";
import MetaImage from "../../assets/images/brands/meta.svg";
import NinthGridImage from "../../assets/images/brands/ninthgrid.svg";

const {} = Astro.props;

const BRANDS = [
    { title: 'Meta', image: MetaImage },
    { title: 'NinthGrid', image: NinthGridImage },
]

---

<section id="brands-section" class="py-[100px] flex flex-col gap-[48px]">
  <h1 class="uppercase lg:text-[24px] mx-auto font-body text-[#484848]">Trusted by great companies</h1>
  <div class="lg:max-w-[1248px] mx-auto flex flex-row gap-[120px]">
    {BRANDS.map((brand) =>  <Image class="lg:h-[48px] w-fit" src={brand.image} alt={brand.title + ' - Paragon Consulting'} />)}
  </div>
</section>
