---
import { Image } from "astro:assets";
import FounderImage from "../../assets/images/founder.svg";
const {} = Astro.props;
---

<section id="founder-section" class="pt-[200px] pb-[100px]">
  <div class="lg:max-w-[1248px] bg-[#F0F0F2] mx-auto flex flex-row lg:h-[586px]">
    <div class="lg:w-[388px] flex-1 relative bg-[#4130BA] pb-[64px] px-[64px] flex flex-col items-start font-body justify-end">
      <h3 class="font-[600] lg:text-[48px] text-white">Our<br />Founder</h3>
    </div>
    <div class="content w-[860px] pr-[78.5px] text-right flex flex-col justify-center items-end gap-[26px] bg-[#F0B884]">
      <h5 class="lg:text-[48px] font-[600]">Ijeoma Ofonagoro</h5>
      <p class="lg:max-w-[708px] lg:text-[24px] font-[400]">
        Ijeoma is a People Operations and Talent Development Leader with 13+ years of experience working with international and cross-cultural teams spanning the US, Europe, Africa, and Asia.  She has spent the majority of her career working with social enterprises, startups, and international development agencies to scale projects...
      </p>
      <a class="block font-[500] lg:text-[24px]">Read more</a>
    </div>
  </div>
</section>

<style>
  #founder-section .content {border-radius: 250px 0px 0px 120px;
    border-radius: 250px 0px 0px 120px;
  }
</style>
