---
import ResourcesItem from "./Item.astro";
import { RESOURCE_TAGS } from "../../../data/resources";

const { posts } = Astro.props;

const { searchParams } = Astro.url;
let queryTag = searchParams.get("tag");
---

<section class="md:pb-[200px] pb-[40px]">
  <ul
    id="menu"
    class="hidden lg:px-[146px] lg:h-[67px] gap-[20px] items-center border-b border-[#D0D5DD] overflow-x-scroll"
  >
    <li class="flex h-full items-center">
      <li class="flex h-full items-center">
        <a
          href={`?tag=`}
          class={[
            "font-[300] md:text-[18px] text-[12px] h-full px-2 flex items-center capitalize",
            queryTag === "" || !queryTag
              ? "border-b-4 border-[var(--primary-color)]"
              : "border-b-4 border-transparent",
          ].join(" ")}
        >
          all
        </a>
      </li>
      {
        RESOURCE_TAGS.map((tag) => (
          <li class="flex h-full items-center">
            <a
              href={`${tag !== "all" ? "?tag=" + tag : ""}`}
              class={[
                "font-[300] md:text-[18px] text-[12px] h-full px-2 flex items-center capitalize whitespace-nowrap",
                (queryTag ?? "all") === tag
                  ? "border-b-4 border-[var(--primary-color)]"
                  : "border-b-4 border-transparent",
              ].join(" ")}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </li>
  </ul>
  {
    posts.length > 0 && (
      <div class="md:max-w-[1203px] md:mx-auto">
        {posts.map((post: any) => (
          <ResourcesItem post={post} tag={queryTag} />
        ))}
      </div>
    )
  }
  <!-- {posts.length === 0 && <p class="md:p-[100px] p-[40px] w-full text-center md:text-base text-[12px]">No posts available</p>} -->
</section>

<style>
  #menu {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  #menu::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
</style>
