---
import dayjs  from 'dayjs'
import LocalizedFormat from "dayjs/plugin/LocalizedFormat.js";

dayjs.extend(LocalizedFormat);

const { post, tag: queryTag } = Astro.props;

const image = post.frontmatter.image?.url || `/img/default-blog.jpeg`;
---

<div class="pt-[100px]">
  <div class="flex items-center gap-[46px]">
    <div
      class="w-[465px] h-[240px] shrink-0 rounded-sm"
      style={{
        backgroundPosition: "100% 100%",
        background: `url(${image}) no-repeat`,
        backgroundSize: "cover",
      }}
    >
    </div>

    <div class="flex flex-col gap-[10px]">
        <a class="text-[32px] leading-[40px] text-[#123257] font-[500]" href={'/blog/' + post.frontmatter.slug}>
            {post.frontmatter.title}
        </a>
        <p class="text-[20px] leading-[28px] font-[300] text-[#123257]">
            {post.frontmatter.description}
        </p>
        
      <div class="mt-4 font-light text-sm w-full justify-between items-center flex gap-4 text-[#123257]">
        <p class="flex gap-2 capitalize">
          {(post.frontmatter.tags || []).map((tag: any) => <span class={['text-[14px] text-[#123257]', queryTag === tag && 'font-[500]' ].join(' ')}>{tag}</span>)}
        </p>
        <p class="text-[#667085]">
          {dayjs(post.frontmatter.datePublished).format("LLLL")}
        </p>
      </div>
    </div>
  </div>
</div>
