---
import { Image } from "astro:assets";
import OvalImage from "../../../assets/images/oval.svg";
const {} = Astro.props;
---

<section id="page-about-section" class="md:pt-[144px] md:pb-[200px] py-[50px]">
  <div class="lg:max-w-[1200px] xl:max-w-[1500px] w-full mx-auto flex flex-col justify-center gap-[36px]">
    <h6 class="w-fit mx-auto px-[16px] py-[10px] bg-[#4130BA] text-white font-[400] text-[16px] font-primary uppercase">About Us</h6>
    <h1 class="w-fit mx-auto text-[32px] md:text-[48px] font-primary font-[600]">Who we are?</h1>
    <div class="text-center w-full px-[20px] sm:px-[auto]">
      <p class="md:text-[32px] text-[20px] font-[300] text-[#222222] lg:leading-[64px] md:h-[192px]">
        Paragon is a <span class="text-[#4130BA] font-[700]">people operations</span> agency helping business leaders prioritize their workforce and unlock team potential. 
        We are your partner in <span class="text-[#4130BA] font-[700]">creating environments, structures, and processes</span> that work for your company to save time and scale your teams.
      </p>
    </div>
  </div>
</section>
