---
import { Image } from "astro:assets";
import OvalImage from "../../../assets/images/oval.svg";
const {} = Astro.props;
---

<section id="home-about-section">
  <h1>About Us</h1>
  <div>
    <div class="image">
      <Image src={OvalImage} alt={""} />
    </div>
    <div class="text">
      <p>
        Paragon is a people operations agency helping business leaders
        prioritise their workforce and unlock team potential.
        <br />
        <br />
         As an HR resource, we collaborate with you to save time and scale your
        teams. From employee engagement to crisis management, we are your
        partner in creating structures and processes that work for your company.
      </p>

      <button>Make an appointment</button>
    </div>
  </div>
</section>

<style>
  #home-about-section {
    padding-left: 154px;
    padding-right: 182px;
    padding-top: 93px;
    padding-bottom: 155.8px;

    @media screen and (max-width: 450px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  #home-about-section > h1 {
    color: #4130ba;
    text-align: center;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  #home-about-section > div {
    margin-top: 99px;
    display: flex;
    align-items: center;
    gap: 69px;
    max-width: 1464px;
    width: 100%;
  }

  #home-about-section div.image {
    width: 645px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 450px) {
      display: none;
     }
  }

  #home-about-section div.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;
  }

  #home-about-section div.text p {
    color: #0f1221;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 586px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: 450px) {
      /* padding-left: 20px;
      padding-right: 20px; */
    }
  }

  #home-about-section div.text button {
    display: flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #4130ba;
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: Typo Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
  }
</style>
